<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" >

    <title>Deal Breaker</title>
  </head>
  <body>

    <div class="container-fluid">
        <div class="row nav-bar shadow-bottom">
            <div class="col-10 center-logo">
                    <h3 class="text-medium uppercase no-decoration"><a href="/">Deal Breaker</a></h3>
                </div>
            <div class="col center-btn">
                <a href="create" class="btn nav-button typo text-medium" role="button">Add A New Deal</a>
            </div>
        </div>
        <div class="main">
          <% data.forEach(function(deal){ %>
            <div class="row">
                <div class="card-box">
                    <div class="align-center">
                           <h4><%=deal.title%></h4>
                           <h6>Posted By: <%=deal.postedBy%></h6>
                    </div>
                    <span class="inline"><p><b>Price:</b> $<%=deal.price%></p></span>
                    <span class="inline"><p><b>Location:</b> <%=deal.location%></p></span>
                    <h6>Details:</h6>
                    <p><%=deal.details%></p>
                    <div class="align-center">
                       <a href="deal?id=<%=deal._id%>" class="btn btn-primary typo med-btn text-medium" role="button">Edit</a>
                    </div>
                </div>
        </div>
                  <%});%>

    </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>